<html>

<head>
    <title>{{if .Title}} {{.Title}} {{else}} {{.FolderName}} {{end}}</title>
    <meta name="description" content="{{.Description}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

        <meta property="og:title" content="{{if .Title}}{{.Title}}{{else}}{{.FolderName}}{{end}}" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="{{if .Description}}{{.Description}}{{end}}" />
        <meta property="og:url" content="{{.Metadata.baseURL}}{{.RelativePath}}" />
       
</head>

<body>
    <nav aria-label="breadcrumb" class="breadcrumb">
        {{if .ParentTree}}
        {{range $i, $e := .ParentTree}}
        <a class="breadcrumb-item {{if LastItem $i (len $.ParentTree)}}active{{end}}"
            {{if LastItem $i (len $.ParentTree)}}aria-current="page" {{end}} href="{{$e.TraversePath}}">{{if $e.Title}}
            {{$e.Title}} {{else}} {{$e.FolderName}} {{end}}</a>
        {{end}}
        {{end}}
    </nav>
    <nav class="tree">
        <ul class="nav nav-tabs">
            {{range .Siblings}}
            <li class="nav-item">
                <a href="{{.TraversePath}}" class="sibling_album nav-link{{if .Current}} active{{end}}">{{if .Title}}
                    {{.Title}} {{else}}
                    {{.FolderName}} {{end}}</a>
            </li>
            {{end}}

        </ul>
    </nav>
    <nav class="children">
        <ul class="nav">
            {{range .Children}}
            <li class="nav-item">
                <a href="{{.TraversePath}}" class="children_album nav-link">{{if .Title}} {{.Title}} {{else}}
                    {{.FolderName}} {{end}}</a>
            </li>
            {{end}}
        </ul>
    </nav>
    <header>
        <h1>{{if .Title}} {{.Title}} {{else}} {{.FolderName}} {{end}}</h1>
        <p>{{.DescriptionRich}}</p>
    </header>
    <main>
        <div class="row">
            {{range .Images}}
            <section class="card">
                <a href="{{.SinglePicture.RelativePath}}">
                    {{/* thumbs are obtaining by GETing FileName___widthxheight assuming said size is permitted if it is not you just get the default one */}}
                    <img src="{{.ThumbName 320 213}}" class="card-img-top"
                        alt="{{if .Title}} {{.Title}} {{else}} {{.FileName}} {{end}}">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{if .Title}} {{.Title}} {{else}} {{.FileName}} {{end}}</h5>
                    <p class="card-text">{{if .Description}} {{.Description}} {{end}}</p>
                </div>
            </section>
            {{end}}
        </div>
    </main>
    <footer></footer>
</body>

</html>