<html>

<head>
    <title>{{if .Title}} {{.Title}} {{else}} {{.FileName}} {{end}}</title>
    <meta name="description" content="{{.Description}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- Open Graph Data -->

    <meta property="og:title" content="{{if .Title}}{{.Title}}{{else}}{{.FileName}}{{end}}" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{if .Description}}{{.Description}}{{end}}" />
    <meta property="og:url" content="{{.Metadata.baseURL}}{{.RelativePath}}" />
    <meta property="og:image" content="{{.Metadata.baseURL}}{{.ThumbName 320 213}}" />

    <script async src="https://www.googletagmanager.com/gtag/js?id={{.Metadata.gtag}}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', '{{.Metadata.gtag}}');
    </script>
</head>

<body>
    <nav aria-label="breadcrumb" class="breadcrumb">
        {{if .ParentTree}}
        {{range $i, $e := .ParentTree}}
        <a class="breadcrumb-item"
            href="{{$e.TraversePath}}">{{if $e.Title}}{{$e.Title}}{{else}}{{$e.FolderName}}{{end}}</a>
        {{end}}
        {{end}}
    </nav>
    <nav class="tree">
        <ul class="nav nav-tabs">
            {{range .Siblings}}
            <li class="nav-item">
                <a href="{{.FileName}}" class="sibling_picture nav-link {{if .Current}} disabled{{end}}"
                    {{if .Current}}tabindex="-1" aria-disabled="true" {{end}}>{{if .Title}}{{.Title}}{{else}}
                    {{.FileName}}
                    {{end}}</a>
            </li>
            {{end}}
        </ul>
    </nav>
    <nav class="children">
        <ul class="nav">
            {{range .Children}}
            <li class="nav-item">
                <a href="{{.TraversePath}}" class="children_album nav-link">{{if .Title}}{{.Title}}{{else}}
                    {{.FolderName}} {{end}}</a>
            </li>
            {{end}}
        </ul>
    </nav>


    <header>
        <h1>{{if .Title}}{{.Title}}{{else}}{{.FileName}}{{end}}</h1>
    </header>
    <main>
        <img src="{{.RelativePath}}" class="img-fluid" alt="{{if .Title}} {{.Title}} {{else}} {{.FileName}} {{end}}">
        <p>{{if .Description}}{{.Description}}{{end}}</p>
    </main>
    <footer>
        <nav aria-label="paginator">
            <ul class="pagination justify-content-center">
                {{if .Previous}}
                <li class="page-item">
                    <a href="{{.First.FileName}}" class="page-link first">First</a>
                </li>
                {{end}}
                {{if .Previous}}
                <li class="page-item">
                    <a href="{{.Previous.FileName}}" class="page-link previous">Previous</a>
                </li>
                {{end}}
                {{if .Next}}
                <li class="page-item">
                    <a href="{{.Next.FileName}}" class="page-link next">Next</a>
                </li>
                {{end}}
                {{if .Next}}
                <li class="page-item">
                    <a href="{{.Last.FileName}}" class="page-link last">Last</a>
                </li>
                {{end}}
            </ul>
        </nav>
    </footer>
</body>

</html>